<?xml version="1.0"?>
<configuration>
  <runtime>
    <!-- "NServiceBus and .NET Framework 4" by Mikael Koskinen
         http://mikaelkoskinen.net/post/NServiceBus-and-NET-Framework-4.aspx -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <!-- MSDN docs: the <startup> element
       http://msdn.microsoft.com/en-us/library/bbx34a2h.aspx -->
  <startup useLegacyV2RuntimeActivationPolicy="true" />
</configuration>